@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
/* about section styling */


.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 15px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  margin-bottom: 15px;
}
.about .about-content .right span {
  color: crimson;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* before after dung de chen 2 div hoac chi do do 1 cai */
.about .title::after {
  content: "Who am I";
}
/* reponsive media */
@media (max-width: 1300px) {
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 947px) {
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 25px auto;
  }
  .about .about-content .right {
    flex: 1;
  }
}
@media (max-width: 690px) {
}
@media (max-width: 500px) {
}
